* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #333;
}
a {
	outline: none;
}
#slotMachine {
	position: absolute;
	width: 289px;
	height: 129px;
	background: #000 url(../images/frame.jpg);
	top: 100px;
	left: 250px;
	overflow: hidden;
}
#slotSplash {
	position: absolute;
	top: 0;
	left: 0;
	width: 289px;
	height: 129px;
	background: #000 url(../images/splash.jpg);
}

#slotSplash a {
	display: block;
	overflow: hidden;
	width: 55px;
	height: 17px;
	left: 219px;
	top: 100px;
	text-indent: -1000px;
	position: absolute;
}
div.wheel {
	position: absolute;
	width: 32px;
	height: 56px;
	overflow: hidden;
	top: 24px;
}
div.wheel img {
	position: absolute;
	top: -4px;
	left: 0px;
}
#wheelOverlay {
	position: absolute;
	top: 24px;
	left: 14px;
}
#wheel1 {
	left: 15px;
}
#wheel2 {
	left: 48px;
}
#wheel3 {
	left: 81px;
}
#slotCredits {
	position: absolute;
	top: 6px;
	left: 30px;
	width: 80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: right;
	color: #78ff00;
}
#slotTrigger {
	display: block;
	position: absolute;
	width: 37px;
	height: 17px;
	overflow: hidden;
	text-indent: -1000px;
	top: 90px;
	left: 77px;
	background: url(../images/button.jpg) top no-repeat;
	cursor: default;
}
#slotTrigger.slotTriggerDown {
	background-position: 0px -17px;
}
#slotTrigger.slotTriggerDisabled {
	background-position: 0px -34px;
	display: none;
}
.slotSpinAnimation {
	display: none;
}