<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>jspexp</display-name>
	<servlet>
		<servlet-name>callser2</servlet-name>
		<servlet-class>jspexp.b01_servlet.A03_SVL_Exp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>callser2</servlet-name>
		<url-pattern>/call02</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>callSer</servlet-name>
		<servlet-class>jspexp.b01_servlet.A02_SVL_xml</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>callSer</servlet-name>
		<url-pattern>/call</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/z01_error/a02_error.jsp</location>
	</error-page>
</web-app>